@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .modal {
    @apply fixed left-0 top-0 z-0 flex h-screen w-screen flex-col justify-center gap-12 bg-white;
  }
}

@layer utilities {
  .scrollbar {
    /* width */
    &::-webkit-scrollbar {
      width: 2px;
    }

    /* Track */
    &::-webkit-scrollbar-track {
      background: #f1f1f1;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
      background: #888;
      border-radius: 5px;
    }

    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
      background: #555;
    }
  }
}

* {
  font-family: 'Calibri', sans-serif;
  box-sizing: border-box;
}

.sidebar-item:hover img,
.img-white {
  filter: brightness(0) saturate(100%) invert(92%) sepia(92%) saturate(1%)
    hue-rotate(131deg) brightness(111%) contrast(99%);
}

#receipt {
  background-image: url('/images/transfer/bottom.svg');
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 100%;
}

.receipt-label{
  @apply text-muted-black;
}

.receipt-value {
  @apply text-dark-grey;
}