@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        padding: 0px;
        margin: 0px;
    }
}

@layer components {
    #dashboard-main {
        @apply w-full h-screen pr-20 pl-8.25 py-12.5 flex flex-col gap-21.5 bg-no-repeat bg-right-bottom bg-contain;
    }

    #saved-accounts {
        @apply w-55 h-104;
    }

    #saved-accounts > ul {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }
    
    #saved-accounts > ul::-webkit-scrollbar {
        display: none;
    }

    .helper-box {
        border: 1px dashed red;  /* Dashed red border */
        background-color: rgba(255, 0, 0, 0.1);  /* Light red background */
    }

    .dash-avatar {
        @apply overflow-hidden w-12.5 h-12.5 rounded-full flex justify-center bg-no-repeat bg-center;
    }

    .dash-banner {
        @apply flex h-50.75 w-155 p-8.75 bg-no-repeat bg-center bg-contain bg-bottom;
        background-color: #F0F5FF;
    }

    .dash-card {
        @apply flex flex-col justify-center content-center w-25 h-27.5 rounded-xl border py-3 px-4.25 gap-2.5;
    }

    .dash-card:hover, .dash-card:focus {
        @apply border-opacity-100 border-primary-blue shadow cursor-pointer;
    }

    .dash-main {
        @apply flex justify-center w-81/160 h-full;
        background-color: #FAFAFA;
    }

    .modal {
        @apply flex flex-col justify-center h-screen w-screen fixed z-0 top-0 left-0 bg-white gap-12;
    }
}

@layer utilities {
    .visually-hidden {
        width: 1px !important;
        height: 1px !important;
        padding: 0 !important;
        margin: -1px !important;
        overflow: hidden !important;
        clip: rect(0, 0, 0, 0) !important;
        white-space: nowrap !important;
        border: 0 !important;
      
        /* // Fix for positioned table caption that could become anonymous cells */
        &:not(caption) {
          position: absolute !important;
        }
    }

    .scrollbar {
        /* width */
        &::-webkit-scrollbar {
            width: 2px;
        }

        /* Track */
        &::-webkit-scrollbar-track {
            background: #f1f1f1;
        }

        /* Handle */
        &::-webkit-scrollbar-thumb {
            background: #888;
            border-radius: 5px;
        }

        /* Handle on hover */
        &::-webkit-scrollbar-thumb:hover {
            background: #555;
        }
    }
}

* {
    font-family: "Calibri", sans-serif;
    box-sizing: border-box;
}

.navbar-brand {
    max-width: 150px;
}

.sidebar-item:hover img,
.img-white {
    filter: brightness(0) saturate(100%) invert(92%) sepia(92%) saturate(1%)
        hue-rotate(131deg) brightness(111%) contrast(99%);
}
