@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    padding: 0px;
    margin: 0px;
  }
}

@layer components {
  #dashboard-main {
    @apply flex min-h-screen flex-col bg-contain bg-right-bottom bg-no-repeat;
  }

  #mutation-table {
    @apply flex flex-col gap-5 rounded-xl border border-grey border-opacity-20 px-17 pb-5 pt-12 sm:gap-2 sm:p-3;
  }

  #saved-accounts {
    @apply h-104 w-55 sm:h-auto;
  }

  .helper-box {
    border: 1px dashed red; /* Dashed red border */
    background-color: rgba(255, 0, 0, 0.1); /* Light red background */
  }

  .dash-avatar {
    @apply flex h-12.5 w-12.5 justify-center overflow-hidden rounded-full bg-center bg-no-repeat;
  }

  .dash-banner {
    @apply flex h-50.75 w-155 bg-contain bg-bottom bg-no-repeat p-8.75;
    background-color: #f0f5ff;
  }

  .dash-card {
    @apply flex h-27.5 w-25 flex-col content-center justify-center gap-2.5 rounded-xl border px-4.25 py-3;
  }

  .dash-card:hover,
  .dash-card:focus {
    @apply cursor-pointer border-2 border-primary-dark-blue border-opacity-100 shadow;
  }

  .dash-main {
    @apply flex h-full w-81/160 justify-center;
    background-color: #fafafa;
  }

  .modal {
    @apply fixed left-0 top-0 z-0 flex h-screen w-screen flex-col justify-center gap-12 bg-white;
  }

  .mutation-record {
    @apply flex h-19.5 flex-col justify-between border-b border-opacity-20 pb-4 last:border-0 sm:h-28;
  }

  .mutation-record > div > span {
    background-size: 1rem 1rem;
  }
}

@layer utilities {
  .scrollbar {
    /* width */
    &::-webkit-scrollbar {
      width: 2px;
    }

    /* Track */
    &::-webkit-scrollbar-track {
      background: #f1f1f1;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
      background: #888;
      border-radius: 5px;
    }

    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
      background: #555;
    }
  }

  .input-otp {
    -webkit-text-security: disc;
    text-security: disc;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-increment-buttons::-webkit-inner-spin-button,
  .no-increment-buttons::-webkit-outer-spin-button {
    -webkit-appearance: none;
    appearance: none;
    margin: 0;
  }

  .no-increment-buttons {
    -moz-appearance: textfield;
  }

  .spinner {
    display: inline-block;
    border-radius: 50%;
    animation:
      spinner-bulqg1 0.8s infinite linear alternate,
      spinner-oaa3wk 1.6s infinite linear;
  }

  @keyframes spinner-bulqg1 {
    0% {
      clip-path: polygon(50% 50%, 0 0, 50% 0%, 50% 0%, 50% 0%, 50% 0%, 50% 0%);
    }

    12.5% {
      clip-path: polygon(
        50% 50%,
        0 0,
        50% 0%,
        100% 0%,
        100% 0%,
        100% 0%,
        100% 0%
      );
    }

    25% {
      clip-path: polygon(
        50% 50%,
        0 0,
        50% 0%,
        100% 0%,
        100% 100%,
        100% 100%,
        100% 100%
      );
    }

    50% {
      clip-path: polygon(
        50% 50%,
        0 0,
        50% 0%,
        100% 0%,
        100% 100%,
        50% 100%,
        0% 100%
      );
    }

    62.5% {
      clip-path: polygon(
        50% 50%,
        100% 0,
        100% 0%,
        100% 0%,
        100% 100%,
        50% 100%,
        0% 100%
      );
    }

    75% {
      clip-path: polygon(
        50% 50%,
        100% 100%,
        100% 100%,
        100% 100%,
        100% 100%,
        50% 100%,
        0% 100%
      );
    }

    100% {
      clip-path: polygon(
        50% 50%,
        50% 100%,
        50% 100%,
        50% 100%,
        50% 100%,
        50% 100%,
        0% 100%
      );
    }
  }

  @keyframes spinner-oaa3wk {
    0% {
      transform: scaleY(1) rotate(0deg);
    }

    49.99% {
      transform: scaleY(1) rotate(135deg);
    }

    50% {
      transform: scaleY(-1) rotate(0deg);
    }

    100% {
      transform: scaleY(-1) rotate(-135deg);
    }
  }
}

* {
  font-family: 'Calibri', sans-serif;
  box-sizing: border-box;
}

@font-face {
  /* Inter font declaration */
  font-family: 'Inter';
  src: url('./assets/fonts/Inter/Inter.ttf');
  src: url('./assets/fonts/Inter/Inter.ttf') format('truetype');
}

.sidebar-item:hover img,
.img-white {
  filter: brightness(0) saturate(100%) invert(92%) sepia(92%) saturate(1%)
    hue-rotate(131deg) brightness(111%) contrast(99%);
}

#login-page {
  background-image: url('images/login/blue_object_blc.webp');
  background-position: bottom left;
  background-size: 50%;
  background-repeat: no-repeat;
}

.img-black {
  filter: invert(100%);
}

#receipt {
  background-image: url('/images/transfer/bottom.svg');
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 100%;
}

.receipt-label {
  @apply text-muted-black;
}

.receipt-value {
  @apply text-dark-grey;
}

/* calender */
.modal-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  inset: 0;
  z-index: 50;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: white;
  padding: 20px;
  width: 100%;
  max-width: 750px;
  border-radius: 8px;
  overflow: hidden; /* Tidak ada scroll di tampilan desktop */
}

/* Mengatur layout responsif untuk grid */
.modal-content-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

@media (max-width: 768px) {
  .modal-content {
    max-height: 90vh;
    overflow-y: auto; /* Scroll diaktifkan hanya pada ponsel */
  }

  .modal-content-grid {
    grid-template-columns: 1fr;
  }
}

.calendar-container {
  text-align: center;
  margin-bottom: 20px;
}

.calendar-container label {
  margin-bottom: 8px;
  font-weight: bold;
  font-size: 14px;
  color: #4a4a4a;
}

.modal-content button {
  width: 100%;
  padding: 10px;
  font-size: 14px;
}

@media (max-width: 480px) {
  .modal-content button {
    font-size: 12px;
    padding: 8px;
  }
}

.react-calendar__tile {
  padding: 12px 8px;
  background: none;
  text-align: center;
  transition:
    background 0.3s ease,
    color 0.3s ease;
}

.react-calendar__tile--active {
  background: #3182ce;
  color: white;
  border-radius: 50%;
}

.react-calendar__tile--now {
  background: #ebf4ff;
  color: black;
  border-radius: 50%;
}

@media (max-width: 768px) {
  .react-calendar__tile {
    padding: 10px 6px;
    font-size: 12px;
  }
}

@media (max-width: 480px) {
  .react-calendar__tile {
    padding: 8px 4px;
    font-size: 10px;
  }
}
